.attendance {
    padding: 20px 5px 10px 61px;
}

.attendance #detail-card {
    background-color: lightgray;
    height: max-content;
    margin-top: 10px;
}


.attendance .create-btn {
    width: fit-content;
    margin-bottom: 20px;
    font-weight: 500;
}

.attendance .view-link:hover {
    background: none;
}

.attendance #eye-icon {
    color: #858585;
}

.attendance .card-header{
    background-color:#f5f5f5;
}

.attendance .scroll-cards{
    overflow-y: auto;
}

.attendance .scroll-cards::-webkit-scrollbar {
    height: 2px;
    width:5px;
}

.attendance .scroll-cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#858585;
}

/* Create Attendance */

.attendance .create-attendance-form-group {
    margin-top: 10px;
}

.attendance .create-attendance-button {
    max-width: fit-content;
    padding: 10px 20px 10px 20px;
    font-size: large;
    font-weight: 400;
}

.attendance .create-form-btn {
    text-align: center;
    margin-top: 10px;
}