.boards {
    padding: 20px 5px 10px 61px;
}

.boards .card {
    height: 450px;
}

.boards #detail-card {
    background-color: lightgray;
    height: max-content;
    margin-top: 10px;
}


.boards .create-btn {
    width: fit-content;
    margin-bottom: 20px;
    font-weight: 500;
}

.boards .card-header{
    background-color:#f5f5f5;
}

.boards .scroll-cards{
    overflow-y: auto;
}

.boards .scroll-cards::-webkit-scrollbar {
    height: 2px;
    width:5px;
}

.boards .scroll-cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#858585;
}

/* Create Boards*/

.boards .create-boards-form-group {
    margin-top: 10px;
}

.boards .create-boards-button {
    max-width: fit-content;
    padding: 10px 20px 10px 20px;
    font-size: large;
    font-weight: 400;
}

.boards .create-form-btn {
    text-align: center;
    margin-top: 10px;
}