.books {
    padding: 20px 5px 10px 61px;
}

.books .card{
    height:450px;
}

.books #detail-card {
    background-color: lightgray;
    height: max-content;
    margin-top: 10px;
}

.books .create-btn {
    width: fit-content;
    margin-bottom: 20px;
    font-weight: 500;
}

.books .view-link:hover {
    background: none;
}

.books #eye-icon {
    color: #858585;
}

.books .card-header{
    background-color:#f5f5f5;
}

.books .scroll-cards{
    overflow-y:scroll;
}

.books .scroll-cards::-webkit-scrollbar {
    height: 2px;
    width:5px;
}

.books .scroll-cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#858585;
}

/* Create Books */

.books .create-books-form-group {
    margin-top: 10px;
}

.books .create-books-button {
    max-width: fit-content;
    padding: 10px 20px 10px 20px;
    font-size: large;
    font-weight: 400;
}

.books .create-form-btn {
    text-align: center;
    margin-top: 10px;
}