.navbar-brand{
    margin-left:50px;
    font-weight:600;
    max-width: max-content;
}

.navbar{
    background-color:#fff;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.drop-toggle {
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight:600;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index:1;
}

.dropdown-menu li {
    padding: 10px;
    text-align: left;
    font-weight:500;
}


.dropdown-menu a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu a:hover {
    background-color:lightblue;
}

.dropdown-menu li:hover {
    background-color:lightblue;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#user-icon{
    font-size:30px;
    color:#858585;
}

.circle {
    width: 38px;
    height: 38px;
    background-color:#2a9df4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-4px;
}

#head-plus{
    color:#fff;
    font-size:20px;
}

.head-icon{
    font-size:25px;
}

.dropdown-menu-1 {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    width:max-content;
    padding: 0;
    margin-left:-120px;
    border:0.1px solid #eee;
    z-index:1;
}

.dropdown:hover .dropdown-menu-1 {
    display: block;
}

@media (max-width:420px) {
    .header-btn {
        margin-left:50px;
    }
    .dropdown-menu-1{
        margin-left:0px;
        width:250px;
    }
}


