.header .navbar-brand {
    margin-left: 50px;
    font-weight: 600;
    max-width: max-content;
}

.header .navbar {
    background-color: #fff;
}

/* Logout Dropdown */

.header .dropdown {
    position: relative;
    display: inline-block;
}

.header .drop-toggle {
    color: #000;
    border: none;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.header .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.header .dropdown-menu li {
    padding: 10px;
    text-align: left;
    font-weight: 500;
}

.header .dropdown-menu a {
    text-decoration: none;
    color: #333;
    display: block;
}

.header .dropdown-menu a:hover {
    background-color: lightblue;
}

.header .dropdown-menu li:hover {
    background-color: lightblue;
}

.header .dropdown:hover .dropdown-menu {
    display: block;
}

/* Links Dropdown */

.header #user-icon {
    font-size: 30px;
    color: #858585;
}

.header .circle {
    width: 38px;
    height: 38px;
    background-color: #2a9df4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
}

.header #head-plus {
    color: #fff;
    font-size: 20px;
}

.header .head-icon {
    font-size: 25px;
    color: #878787;
}

.header .cell {
    padding: 20px 30px 20px 30px;
}

.header .dropdown-menu-1 {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    width: 350px;
    padding: 0;
    margin-left: -120px;
    border: 0.1px solid #eee;
    z-index: 1;
    border-radius: 5px;
}

.header .dropdown:hover .dropdown-menu-1 {
    display: block;
}

@media (max-width: 420px) {
    .header .header-btn {
        margin-left: 50px;
    }
    .header .dropdown-menu-1 {
        margin-left: 0px;
        width: 250px;
    }
}
