.publisher{
    padding:20px 5px 10px 61px;
}

.card{
    border: none;
    margin-top:20px;
    background-color:antiquewhite;
}

#detail-card{
    background-color:lightgray;
    height:max-content;
    margin-top:10px;
}

button{
    border: none;
    background: none;
}

/* Create Publisher */

.create-publisher-form-group{
    margin-top:10px;
}

.create-publisher-button{
    max-width:fit-content;
    padding:10px 20px 10px 20px;
    font-size:large;
    font-weight:400;
}

.create-form-btn{
    text-align: center;
    margin-top:10px;
}