.publisher {
    padding: 20px 5px 10px 61px;
}

.publisher .card{
    height:450px;
}

.publisher #detail-card {
    background-color: lightgray;
    height: max-content;
    margin-top: 10px;
}

.publisher .create-btn {
    width: fit-content;
    margin-bottom: 20px;
    font-weight: 500;
}

.publisher .view-link:hover {
    background: none;
}

.publisher #eye-icon {
    color: #858585;
}

.publisher .card-header {
    background-color: #f5f5f5;
}

.publisher .scroll-cards {
    overflow-y: auto;
}

.publisher .scroll-cards::-webkit-scrollbar {
    height: 2px;
    width: 5px;
}

.publisher .scroll-cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #858585;
}

/* Create And View Publisher */

.publisher .create-publisher-form-group {
    margin-top: 10px;
}

.publisher .create-publisher-button {
    max-width: fit-content;
    padding: 10px 20px 10px 20px;
    font-size: large;
    font-weight: 400;
}

.publisher .create-form-btn {
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
}
