.salesperson {
    padding: 20px 5px 10px 61px;
}

.salesperson #detail-card {
    background-color: lightgray;
    height: max-content;
    margin-top: 10px;
}


.salesperson .create-btn {
    width: fit-content;
    margin-bottom: 20px;
    font-weight: 500;
}

.salesperson .view-link:hover {
    background: none;
}

.salesperson #eye-icon {
    color: #858585;
}

.salesperson .card-header{
    background-color:#f5f5f5;
}

.salesperson .scroll-cards{
    overflow-y: auto;
}

.salesperson .scroll-cards::-webkit-scrollbar {
    height: 2px;
    width:5px;
}

.salesperson .scroll-cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#858585;
}

/* Create And View Salesperson */

.salesperson .create-salesperson-form-group {
    margin-top: 10px;
}

.salesperson .create-salesperson-button {
    max-width: fit-content;
    padding: 10px 20px 10px 20px;
    font-size: large;
    font-weight: 400;
}

.salesperson .create-form-btn {
    text-align: center;
    margin-top: 10px;
}