.sidebar {
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1;
}

.sidebar .toggle-btn {
    cursor: pointer;
    padding: 10px;
    color: white;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
}
.sidebar ul li {
    display: flex;
}
.sidebar a {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 10px;
    border-left: 5px solid transparent;
}

.sidebar .hidden-text {
    display: none;
}

.sidebar a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar a.active {
    border-left: 5px solid #8080ff;
}

.sidebar:hover {
    width: 200px;
}

.sidebar-icon span {
    display: none;
}

.sidebar:hover span {
    margin-top: -7px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
    display: block;
}

.sidebar #brand {
    text-align: center;
    color: #fff;
}

.sidebar #side-nav {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar:hover #side-nav {
    display: block;
}
