.sidebar {
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    left:0px;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    z-index:1;
    position: fixed;
  }

  .toggle-btn {
    cursor: pointer;
    padding: 10px;
    color:white;
  }

  ul {
    list-style: none;
    padding-left:0;
  }

  li {
    padding-top:60px;
    display: flex;
  }

  a {
    text-decoration: none;
    color: white;
    width:100%;
    padding:10px 0px 10px 13px;
  }

  .hidden-text {
    display: none;
  }

  a:hover {
    background-color:rgba(0, 0,0, 0.2);
  }

  .sidebar a.active{
    border-left: 5px solid #8080ff;
  }

  .sidebar:hover{
    width:200px;
  }

  .sidebar-icon span{
    display: none;
  }

  .sidebar:hover span{
    margin-top:-7px;
    font-size:20px;
    font-weight:400;
    margin-left:20px;
    display: block;
  }

  #brand{
    color:#fff;
  }

  #side-nav{
    display: none;
    background-color:rgba(0, 0,0, 0.1);
  }

  .sidebar:hover #side-nav{
    display: block;
  }

  .sidebar:hover li{
    padding-top:40px;
  }