.subject {
    padding: 20px 5px 10px 61px;
}

.subject #detail-card {
    background-color: lightgray;
    height: max-content;
    margin-top: 10px;
}


.subject .create-btn {
    width: fit-content;
    margin-bottom: 20px;
    font-weight: 500;
}

.subject .card-header{
    background-color:#f5f5f5;
}

.subject .scroll-cards{
    overflow-y: auto;
}

.subject .scroll-cards::-webkit-scrollbar {
    height: 2px;
    width:5px;
}

.subject .scroll-cards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#858585;
}

/* Create Claim */

.subject .create-subject-form-group {
    margin-top: 10px;
}

.subject .create-subject-button {
    max-width: fit-content;
    padding: 10px 20px 10px 20px;
    font-size: large;
    font-weight: 400;
}

.subject .create-form-btn {
    text-align: center;
    margin-top: 10px;
}